<app-header></app-header>

<div class="max-w-lg mx-auto md:max-w-5xl">
    <h1 class="uppercase tracking-wide text-3xl font-semibold mb-5"> Ng For </h1>
    <table class="table table-striped">
        <thead>
    <tr> 
        <th scope="col"> ID </th>
        <th scope="col"> Name </th>
        <th scope="col"> Age </th>
        <th scope="col"> Department </th>
        <th scope="col"> Salary </th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let emp of employees"> 
        <td> {{emp.empid}} </td>
        <td> {{emp.name}} </td>
        <td> {{emp.age}} </td>
        <td> {{emp.department}} </td>
        <td> {{emp.salary}} </td>
    </tr>
</tbody>
    </table>

<hr>

<div *ngIf="employees && employees.length > 0; else nodata"> 
    <div *ngFor="let emp of employees">
        <ng-container *ngIf="emp.salary > 400000; else highsalary">
           <span style="color: red;">  {{emp.name}} </span>
        </ng-container>
        <ng-template #highsalary>
            {{emp.name}}
        </ng-template>
    </div>
</div>
<ng-template #nodata> <p> No Data </p></ng-template>


<!-- <div *ngIf="isToggle">
    <p> websanto </p>
</div> -->



<p *ngIf="isToggle"> Normal content </p>
<button type="button" class="btn btnprimary" (click)="clickToggle()"> Toggle </button>

<!-- <hr>
<div *ngFor="let employee of employees">
    <ng-container *ngIf="employee.salary > 3000000; else lowSalary">
        {{employee.name}}{{employee.salary}}
    </ng-container>
    <ng-template #lowSalary>
        <div style="color: red;"> 
            {{employee.name}}{{employee.salary}}
        </div>        
    </ng-template>
</div>

<hr>

<div *ngIf="employees.length > 0; else nodata">
    <div *ngFor="let emplooyee of employees">
        {{emplooyee.name}}
    </div>
</div>

<ng-template #nodata>
    <p> No Data </p>
</ng-template> -->

</div>