<div class="max-w-lg mx-auto md:max-w-5xl">
    <h1 class="uppercase tracking-wide text-3xl font-semibold mb-5"> Directive </h1>
    <span webSanto color="red"> Form </span>
    <span webSanto color="blue"> Form </span>
    <span webSanto color="green"> Form </span>
    <p> Directive </p>


    <div class="max-w-lg mx-auto md:max-w-5xl text-center">
        <h1 class="text-3xl font-semibold mb-5">Custom Directive - Click to Change Color</h1>
        <button webSanto toggleColor defaultColor="yellow" highlightColor="red" class="px-4 py-2 rounded-md border">
          Click Me
        </button>
      </div>

</div>
