<app-header></app-header>

<div class="container">
<h2 class="mt-5"> Map </h2>
<p> <strong> rxjs map() transforms each item emitted by an Observable. </strong> 
    <br>  Map operator use for our data transform according to need. 
     We get any data we can change by map operator and it return new observable with modify data . <br>
     <strong> Example - map(data => transform) </strong>
     </p>

<div class="row">
    <div class="col-lg-4">
        <h5> Example 01 </h5>
        <p class="text-success"> <strong> {{msg1}} </strong> </p>
    </div>

    <div class="col-lg-4">
        <h5> Example 02 </h5>
        <p class="text-success"> <strong> {{msg2}} </strong> </p>
    </div>

</div>
</div>
