<app-header></app-header>

<div class="container">
    <h2 class="mt-5"> Of and from Operator (Rxjs) </h2>
    <h5> Of and from </h5>
    <p> <strong> Of </strong> :- any number of arguments and emits them as a sequence. </p>
    <p> <strong> From </strong> :- Converts iterables, arrays, promises, or async generators into an Observable. </p>

    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 border rounded"> 
              <strong> Data: </strong>of ('Anup', 'Shekhar', 'Sharma')
            </p>
            <hr>
            <ul>
                <li> Anup </li>
                <li> Shekhar </li>
                <li> Sharma </li>
            </ul>
        </div>
    </div>

</div>

