<app-header></app-header>


<div class="container mt-5">

    <form class="shadow p-4 rounded" [formGroup]="product_form" (ngSubmit)="saveProduct()">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Title" formControlName="title">
                <span class="error" *ngIf="product_form.get('title')?.touched && product_form.get('title')?.hasError('required')"> Produt title is invalid</span>
            </div>
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Brand" formControlName="brand">
                <span class="error" *ngIf="product_form.get('brand')?.touched && product_form.get('brand')?.hasError('required')"> Produt Brand is invalid</span>
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" placeholder="Category" formControlName="category">
                <span class="error" *ngIf="product_form.get('category')?.touched && product_form.get('category')?.hasError('required')"> Produt Category is invalid</span>
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" placeholder="Price" formControlName="price">
                <span class="error" *ngIf="product_form.get('price')?.touched && product_form.get('price')?.hasError('required')"> Produt Price is invalid</span>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-success"> Add Product </button>
            </div>
        </div>
    </form>

     <!-- <div class="col-lg-12 mt-5" style="background-color: rgb(209, 209, 209);"> 
            <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Product..."
                  [(ngModel)]="productQuery"
                  (input)="searchProduct()"  
                />
                <button class="btn btn-primary" type="button" (click)="searchProduct()">Search</button>
              </div>
        </div>  -->

    <table class="table table-striped mt-5"> 
        <thead>
            <tr> 
            <th> Title </th>
            <th> Brand </th>
            <th> Category </th>
            <th> Price </th>
            <th> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td> {{product.title}} </td>
                <td> {{product.brand}} </td>
                <td> {{product.category}} </td>
                <td> Rs. {{product.price}} </td>
                <td>
                    <button class="btn btn-info me-2" (click)="setProduct(product)"> Edit </button>
                    <button class="btn btn-danger" (click)="deleteProduct(product)"> Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>