
<!-- <h2> Event Binding </h2>
<div><input type="text" placeholder="Keyup" #box (keyup)="clickEvent(box.value)" style="border: #000 solid 1px; padding:5px;"></div>

<h2> Property Binding </h2>
<input type="text" style="border: #000 solid 1px; padding:5px;" [disabled]="isDisable">
<img [src]="imgUrl" alt="">

<h2> Style Binding </h2>
<p [style.backgroundColor]="bgColor"> Santosh </p> -->


<!-- <input type="text" [(ngModel)]="userInput" placeholder="input" style="border: #000 solid 2px;">
<div> You typed: {{ userInput }} </div> -->

<p>Data: {{ data | async }}</p>

async/await

<p>{{ result }}</p>
<button (click)="loadData()" type="button">Load</button> 