<app-header></app-header>

<div class="container">
<h2 class="mt-5"> MergeMap </h2>
<p> <strong> mergeMap operator </strong> is basically a combination of two operators – merge and map. mergeMap emitted value to inner observable and will subscribe to all observables and merge. </p>

<p> <strong> map + mergeAll + mergeMap </strong></p>

<div class="row">
    <div class="col-lg-4">
        <h5> Example 01 </h5>
        <p class="text-success">  </p>
    </div>

    <div class="col-lg-4">
        <h5> Example 02 </h5>
        <p class="text-success">  </p>
    </div>

</div>
</div>