/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  /* When scrolled down, show the button */
  .show-scroll-button {
    opacity: 1;
    visibility: visible;
  }

  header a {
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #000;
  }