<app-header></app-header>

<div class="container mt-5">

  <form class="shadow p-4 mb-5" [formGroup]="emp_form" (ngSubmit)="saveEmpForm()">
    <div class="row">
      <div class="col-lg-3"> 
        <input type="text" placeholder="Employee Name" formControlName="emp_name" class="form-control">
        <span class="error text-danger" *ngIf="emp_form.get('emp_name')?.touched && emp_form.get('emp_name')?.hasError('required')">  Employee Name is Invalid </span>
      </div>
      <div class="col-lg-3"> 
        <input type="text" placeholder="Employee Email" formControlName="emp_email" class="form-control">
        <span class="error text-danger" *ngIf="emp_form.get('emp_email')?.touched && emp_form.get('emp_email')?.hasError('required')">  Employee Email is Invalid </span>
      </div>
      <div class="col-lg-3"> 
        <input type="text" placeholder="Employee Role" formControlName="emp_role" class="form-control">
        <span class="error text-danger" *ngIf="emp_form.get('emp_role')?.touched && emp_form.get('emp_role')?.hasError('required')">  Employee Role is Invalid </span>
      </div>
      <div class="col-lg-3"> 
        <button type="submit" class="btn btn-success"> Add Employee </button>
      </div>
    </div>
  </form>

  <table class="table table-border">
    <thead> 
      <th> Employee Name </th>
      <th> Employee Email </th>
      <th> Employee Role </th>
      <th> Action </th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of emp_details">
        <td> {{emp.emp_name}} </td>
        <td> {{emp.emp_email}}  </td>
        <td> {{emp.emp_role}}  </td>
        <td> 
          <button class="btn btn-info me-3" (click)="empUpdateEdit(emp.id)"> Edit </button>
          <button class="btn btn-danger" (click)="deleteEmp(emp.id)"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>



</div>