<app-header></app-header>

<div class="card">
    <div class="card-body max-w-7xl m-auto">

      <a href="#" style="display: flex; justify-content: center; margin-left: 23px !important; background: #000; color: #fff; width: 124px; text-align: center; margin-top: 25px; padding: 5px; border-radius: 50px;" data-bs-toggle="modal" data-bs-target="#exampleModal"> Add User </a>

      <div class="overflow-x-auto p-4">
        <!-- {{loader.isLoading | async}} -->
        <table class="min-w-full divide-y divide-gray-200 bg-white shadow-md rounded-lg">
          <thead class="bg-gray-100 text-gray-700 uppercase text-sm font-semibold">
            <tr>
              <th class="px-4 py-3 text-left">Username</th>
              <th class="px-4 py-3 text-left">Name</th>
              <th class="px-4 py-3 text-left">Gender</th>
              <th class="px-4 py-3 text-left">Email</th>
              <th class="px-4 py-3 text-left">Phone</th>
              <th class="px-4 py-3 text-left">Address</th>
              <th class="px-4 py-3 text-center">Actions</th>
            </tr>
          </thead>
          <tbody class="text-gray-700 divide-y divide-gray-200">
            <!-- Row 1 -->
            <tr class="hover:bg-gray-50" *ngFor="let user of users">
              <td class="px-4 py-3">  {{user.username}} </td>
              <td class="px-4 py-3"> {{user.firstName}} {{user.lastName}} </td>
              <td class="px-4 py-3"> {{user.gender}} </td>
              <td class="px-4 py-3"> {{user.email}} </td>
              <td class="px-4 py-3"> {{user.phone}} </td>
              <td class="px-4 py-3"> {{user.address?.address}} </td>
                <td class="px-4 py-3 text-center space-x-2">
                <button class="text-blue-600 hover:underline" (click)="setUser(user, 'edit')" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                <button class="text-red-600 hover:underline" (click)="deActivatedUser(user)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> {{action}} User </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #close (click)="resetForm()"></button>
      </div>
      <div class="modal-body">
    
        <form class="mt-4" [formGroup]="user_form" (ngSubmit)="saveForm()">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
              <div class="error-message" *ngIf="user_form.get('username')?.touched && user_form.get('username')?.hasError('required')">Username is required.</div>
            </div>
            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter first name" formControlName="firstName">
              <div class="error-message" *ngIf="user_form.get('firstName')?.touched && user_form.get('firstName')?.hasError('required')">First Name is required.</div>
            </div>
          </div>
        
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Enter last name" formControlName="lastName">
              <div class="error-message" *ngIf="user_form.get('lastName')?.touched && user_form.get('lastName')?.hasError('required')">Last Name is required.</div>
            </div>
          </div>
        
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
              <div class="error-message" *ngIf="user_form.get('email')?.touched && user_form.get('email')?.hasError('required')">Email is required.</div>
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Phone</label>
              <input type="tel" class="form-control" id="phone" placeholder="Enter phone number" formControlName="phone">
              <div class="error-message" *ngIf="user_form.get('phone')?.touched && user_form.get('phone')?.hasError('required')">Phone is required.</div>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" id="address" rows="3" placeholder="Enter address" formControlName="address"></textarea>
            <div class="error-message" *ngIf="user_form.get('address')?.touched && user_form.get('address')?.hasError('required')">Address is required.</div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="user_form.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>