<app-header></app-header>
<div class="container mt-5"> 
<form class="shadow-lg rounded mb-5 p-3" [formGroup]="product_form" (ngSubmit)="saveProduct()">
<div class="row">

  <div class="col-lg-2" *ngFor="let field of productform_fields">
    <input [placeholder]="field.label" class="form-control" [formControlName]="field.name" />
    <span class="text-danger" *ngIf="product_form.get(field.name)?.touched && product_form.get(field.name)?.hasError('required')"> 
    {{ field.label }} is invalid </span>
  </div>
  
  <div class="col-lg-2 d-flex align-items-end">
    <button type="submit" class="btn btn-success w-100">Add Product</button>
  </div>
</div>
</form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Product Title </th>
                <th> Category </th>
                <th> Brand </th>
                <th> Description </th>
                <th> Price </th>
                <th> Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td> {{product.title}} </td>
                <td> {{product.category}} </td>
                <td> {{product.brand}} </td>
                <td> {{product.description}} </td>
                <td> {{product.price}} </td>
                <td> 
                    <div class="d-flex"> 
                    <button class="btn btn-info me-2" (click)="setProduct(product)"> Edit </button>
                    <button class="btn btn-danger" (click)="deleteProduct(product)"> Delete </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>