<app-header></app-header>

<div class="container"> 
<div class="w-full"> 
<div class="w-full p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <a *ngFor="let component of components" [routerLink]="component.link" class="bg-white shadow-md rounded-2xl p-6 hover:shadow-xl transition duration-300 flex items-center justify-center text-center text-lg font-semibold text-gray-700 hover:text-blue-600">
        {{component.name}}
    </a>
</div>

<div class="mt-5 mb-5">

<div class="col-lg-3"> 
<h3> Event Binding </h3> 
<input type="text" class="form-control" placeholder="Event Binding" #box (keyup)="eventBind(box.value)">
<!-- <button type="button" class="btn btn-primary" (click)="clickEvent()"> Submit </button> -->
<!-- <button type="button" class="btn btn-primary mt-3" (click)="clickEvent2()"> Submit </button> -->
<!-- <button type="button" class="btn btn-primary mt-3" [disabled]="isDisabled"> Submit </button> -->
<!-- <input type="text" class="form-control" [attr.placeholder]="placeholder1"> -->

<!-- <button (click)="showContent()" type="button" class="btn btn-primary mt-2"> Submit </button>
<p *ngIf="visiable"> Santosh </p> -->

<h3> Two way Binding </h3>

<input type="text" class="form-control" [(ngModel)]="data">
{{data}}


</div>

</div>
</div>
</div>