<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="container">
            <h2 class="mt-3 mb-5"> Observable List </h2>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card cursor-pointer shadow-md" routerLink="/from-event">
                <div class="card-body text-center">
                    <h4> From Event </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">
            <div class="card cursor-pointer shadow-md" routerLink="/interval">
                <div class="card-body text-center">
                    <h4> Interval & Timer Operator </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-3 mb-4">
            <div class="card cursor-pointer shadow-md" routerLink="/off-from">
                <div class="card-body text-center">
                    <h4> Off & from Operator </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-3 mb-4">
            <div class="card cursor-pointer shadow-md" routerLink="/toarray">
                <div class="card-body text-center">
                    <h4> Toarray Operator </h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="card cursor-pointer shadow-md" routerLink="/map">
                <div class="card-body text-center">
                    <h4> Map Operator </h4>
                </div>
            </div>
        </div>


        <div class="col-lg-3 mb-4">
            <div class="card cursor-pointer shadow-md" routerLink="/pluck">
                <div class="card-body text-center">
                    <h4> Pluck Operator </h4>
                </div>
            </div>
        </div>


        


        

    </div>
</div>
